.footer {
    width: 100%;
    height: 300px;
    background: #000;
    color: #FFF;
    position: relative;
}

.footer-content {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-blocks {
    width: 80%;
    margin: auto;
}

.footer a {
    text-decoration: none;
    color: #FFF;
    font-weight: normal;
}

.footer-top {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    margin-right: 100px;
}

.footer-link:not(:last-of-type) {
    margin-right: 40px;
}

.footer-center div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.5;
}

.footer-center img {
    filter: invert(100%);
    margin-right: 10px;
}

.footer-bottom {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    font-size: 10px;
    opacity: 0.3;
}
